* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  /* width: 100vw; */
  margin: 0;
  /* padding: 20px 150px; */
}

/*Nav*/

.navbar {
  display: flex;
  padding: 1.8rem;
  font-weight: bold;
  /* color: #ffffff; */
}

.nav-item {
  display: flex;
}

.nav-link {
  padding-right: 0.5rem;
}

.nav-right {
  margin-left: auto;
}

.nav-toggle {
  display: none;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .nav-item,
  .navbar {
    flex-direction: column;
  }
  .nav-item {
    display: none;
  }
  .nav-right {
    margin-left: 0;
  }
  .nav-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .toggle_Show {
    display: flex;
  }

  .nav-link {
    padding-bottom: 1.5rem;
  }
}

a {
  color: #343a40;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

a:hover {
  color: #ef5b59;
  font-size: 1.1rem;
}

.nav-brand {
  font-family: "Almendra", serif;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
}

.theme-toggler {
  padding-left: 8%;
  padding-right: 8%;
}

h1 {
  font-size: 2.5em;
}

.h2-text {
  font-size: 1.4rem;
  color: #343a40c0;
}

.h3-text {
  font-size: 1.2rem;
  color: #343a40c0;
}

button {
  color: #ffffff;
  background: #ef5b59;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid #000000;
  color: #ef5b59;
  border: 1px solid #ef5b59;
  background: #ffffff;
}

.white-btn {
  color: #ef5b59;
  border: 1px solid #ef5b59;
  background: #ffffff;
}

.white-btn:hover {
  color: #ffffff;
  background: #ef5b59;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 3% 10%;
}

.col {
  flex: 3;
  /* flex-basis: 2; */
  justify-content: center;
  margin: 0 auto;
}

@media (min-width: 1001px){
  #hero-img {
    width: 38vw;
  }
  
  .sec-1 {
    height: 80vh;
  }
  
}

@media (max-width: 1000px) {
  body {
    padding: 0;
  }
  .flex-grid {
    display: flex;
    flex-flow: column wrap;
  }
  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .h2-text {
    font-size: 1.3rem;
  }

  .logo {
    margin-top: -25px;
  }  

}

.text-center {
  text-align: center;
}


.brands {
  margin: 2%;
}

.brand-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sec-2 {
  background: #e9eff5c0;
}

input {
  padding: 10px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 4px;
}

.white-text {
  color: #ffffff;
}

.testimonial {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}

.bg-yellow {
  background: rgba(196, 196, 15, 0.986);
}

.bg-primary {
  background: #e62b28;
}

.bg-blue {
  background: rgb(1, 1, 46);
  /* padding: 20px; */
}

.recommendations {
  margin: 10px;
  width: 300px;
  padding: 20px;
  color: #ffffff;
  /* border-radius: 4px; */
}

.footer-card {
  width: 400px;
  display: block;
}

.price-btn {
  color: #e62b28;
  background: #ffffff;
}

.bold {
  font-weight: bold;
}

section {
  padding: 3%;
}